__pycache__/
.DS_Store
logs
wandb
*.pdf
saved_adapters/*
*.pkl
.json
.jsonl
.jsonl.gz
.jsonl.gz.part
.jsonl.gz.part.tmp
debug_head_finding.log
*gml
!gmls/figure3_gmls/*.gml
*png
!images/method.png
*.log
*.txt
*.csv
*.jsonl
gmls/thought_graph_key.png
experimentation/*
datasets/*
*.gpickle
*.out
*.json
*.sbatch
